
<template>
<div id="form">
    <div class="col-12 border rounded">
      <div class="form-group">
        <label for="name" class="cols-sm-2 control-label"> {{ campo_nombre }} </label>
        <div class="cols-sm-12">
          <div class="input-group">
            <span class="pt-2 px-3 input-group-addon bg-info">
              <i class="fa fa-user fa" aria-hidden="true"></i>
            </span>
            <input v-model="fNombre" 
                   type="text" 
                   class="form-control" 
                   name="name" 
                   id="campo_nombre" 
                   :placeholder="campo_nombre" 
                   v-on:keyup.enter="changeFocus($event)"
                   ref="campo_nombre"/>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="cols-sm-2 control-label"> {{ campo_email }} </label>
        <div class="cols-sm-12">
          <div class="input-group">
            <span class="pt-2 px-3 input-group-addon bg-info">
              <i class="fa fa-envelope fa" aria-hidden="true"></i>
            </span>
            <input v-model="fEmail" 
                  type="text" 
                  class="form-control" 
                  name="email" 
                  id="campo_email" 
                  :placeholder="campo_email"
                  v-on:keyup.enter="changeFocus($event)" 
                  ref="campo_email"/>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="usuario" class="cols-sm-2 control-label"> {{ campo_usuario }} </label>
        <div class="cols-sm-12">
          <div class="input-group">
              <span class="pt-2 px-3 input-group-addon bg-info">
              <i class="fa fa-users fa" aria-hidden="true"></i>
            </span>
            <input v-model="fUsuario" 
                   type="text" 
                   class="form-control" 
                   name="usuario" 
                   id="campo_usuario" 
                   :placeholder="campo_usuario"
                   v-on:keyup.enter="changeFocus($event)"
                   ref="campo_usuario" />
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="contraseña" class="cols-sm-2 control-label"> {{ campo_pass }} </label>
        <div class="cols-sm-12">
          <div class="input-group">
            <span class="pt-2 px-3 input-group-addon bg-info">
              <i class="fa fa-lock fa" aria-hidden="true"></i>
            </span>
            <input v-model="fPass" 
                   type="text" 
                   class="form-control" 
                   name="contraseña" 
                   id="campo_pass" 
                   :placeholder="campo_pass"
                   v-on:keyup.enter="changeFocus($event)"
                   ref="campo_pass" />
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="confirmarcontraseña" class="cols-sm-2 control-label"> {{ campo_pass_Confirm }} </label>
        <div class="cols-sm-12">
          <div class="input-group">
            <span class="pt-2 px-3 input-group-addon bg-info">
              <i class="fa fa-lock fa" aria-hidden="true"></i>
            </span>
            <input v-model="fPass_Confirm" 
                   type="text" 
                   class="form-control" 
                   name="confirmarcontraseña" 
                   id="fPass_Confirm" 
                   :placeholder="campo_pass_Confirm" 
                   ref="fPass_Confirm"/>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="container mt-2 mb-2">
           <div class="d-flex justify-content-end">
             <button type="button" class="btn btn-primary" @click="print">Registrarse</buttton>
           </div>
        </div>
    </div>
      </div>
</div>
</template>


<script>
    var form = new Vue({
    el:"#form",
    data:{
      campo_nombre: "Nombre Completo",
      campo_email: "Correo electronico",
      campo_usuario: "Nombre de usuario",
      campo_pass: "Contraseña",
      campo_pass_Confirm: "Confirme la contraseña",
      fNombre: "",
      fEmail: "",
      fUsuario: "",
      fPass: "",
      fPass_Confirm: "",
    },
    methods: {
      print: function() {
          let eName = document.getElementById('name').value;
          let eEmail = document.getElementById('email').value;
          let eUsuario = document.getElementById('usuario').value;
          let eContraseña = document.getElementById('contraseña').value;
          let eConfirContraseña = document.getElementById('confirmarcontraseña').value;
          console.log(` Nombre : ${eName} Email : ${eEmail} Usuario : ${eUsuario} Contraseña : ${eContraseña} Confirmar contraseña : ${eConfirContraseña}` ); 
      },
      changeFocus: function(e){
        switch(e.target.id )
        {
          case "campo_nombre":
             this.$refs.campo_email.focus();
          break;
          case "campo_email":
             this.$refs.campo_usuario.focus();
          break;
          case "campo_usuario":
             this.$refs.campo_pass.focus();
          break;
          case "campo_pass":
             this.$refs.fPass_Confirm.focus();
          break;          
        }
      },
      validateEmail: function(email){
          regexEmail=/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
          return regexEmail.test(email);
      },
      eventChangeHandler:function(){
        
      }
    }
  })
</script>